In [1]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
host = "localhost",user = "root",password = "" )

In [4]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001DAFB143B50>

In [5]:
mycursor = mydb.cursor()

In [6]:
mycursor.execute("SHOW DATABASES")

In [7]:
for x in mycursor:
    print(x)

('hit-db',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('titanic',)
('yo',)

In [13]:
mydb.close()

In [10]:
#creating a database using python

In [24]:
import mysql.connector
mydb = mysql.connector.connect(
host = "localhost",user = "root",password = "" )
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS test2")
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)
mycursor.execute("CREATE TABLE IF NOT EXISTS test2.test_table(c1 int , c2 VARCHAR(50) , c3 FLOAT)")
mycursor.execute("INSERT INTO test2.test_table values(1 , 'Vinayak Chhabra' , 4.8)")
mydb.commit()
mydb.close()

('hit-db',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('test2',)
('titanic',)
('yo',)
None

In [26]:
import mysql.connector
mydb = mysql.connector.connect(
host = "localhost",user = "root",password = "" )
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM test2.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()

(1, 'Vinayak Chhabra', 4.8)
(1, 'Vinayak Chhabra', 4.8)
(1, 'Vinayak Chhabra', 4.8)

## How to load the dataset(s) to SQL?
Using Python, you can load the large datasets to MySQL database very easily. For that follow the below steps.

- First create a database in your local machine server.

```sql
CREATE DATABASE <database_name>
```

- Next, use Python to load the database

```python
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv("file/path/to/the/database.csv")

engine = create_engine("mysql+pymysql://<db_username>:<db_password>@<hostname>/<database_name>")
df.to_sql("<table_name>", con=engine)
```

In [1]:
import pandas as pd
from sqlalchemy import create_engine
df = pd.read_csv("IPL_Ball_by_Ball_2008_2022.csv")

In [7]:
engine = create_engine("mysql+pymysql://root:root@localhost:3309/ipl")
df.to_sql("bowlbyball", con=engine)

225954