In [3]:
import mysql.connector

In [4]:
try:
    conn = mysql.connector.connect(
        host= '127.0.0.1',
        port = 3309,
        user = 'root',
        password ='root')
    mycursor = conn.cursor()
    print("Connection Established")
except Exception as E:
    print("Connection Error")
    print(E)

Connection Established

In [5]:
#creating a database using mycursor and conn objects
mycursor.execute("CREATE DATABASE IF NOT EXISTS indigo")
conn.commit()

In [18]:
# now that database is created make a new connection include database indigo in the conn object
try:
    conn = mysql.connector.connect(
        host= '127.0.0.1',
        port = 3309,
        user = 'root',
        password ='root',
        database = 'indigo')
    mycursor = conn.cursor()
    print("Connection Established")
except Exception as E:
    print("Connection Error")
    print(E)

Connection Established

In [10]:
# ----------------CREATING A TABLE---------------

mycursor.execute("""
CREATE TABLE IF NOT EXISTS flights(
airport_id INTEGER PRIMARY KEY , 
code VARCHAR(10) NOT NULL , 
city VARCHAR(50) NOT NULL , 
name VARCHAR(200) NOT NULL 
)
""")
conn.commit()

In [20]:
#---------------INSERTING DATA TO THE TABLE------------
mycursor.execute("""
INSERT INTO flights VALUES
(1 , 'DEL' , 'New Delhi' , 'IGIA'),
(2 , 'CCU' , 'Kolkata' , 'NSCddA'),
(3 , 'BOM' , 'Mumbai', 'CSMA')
""")
conn.commit()

In [21]:
#-----------RETRIEVE/SEARCH-----------------
mycursor.execute("SELECT * FROM flights WHERE airport_id>1")
data = mycursor.fetchall()  # fetch all for multiple rows
print(data)

[(2, 'CCU', 'Kolkata', 'NSCddA'), (3, 'BOM', 'Mumbai', 'CSMA')]

In [22]:
for i in data:
    print(i[3])

NSCddA
CSMA

In [23]:
# ------------UPDATE-----------------
mycursor.execute("""
UPDATE flights
SET name = "Bombay"
WHERE airport_id = 3
 
""")
conn.commit()

In [24]:
mycursor.execute("SELECT * FROM flights WHERE airport_id>1")
data = mycursor.fetchall()  # fetch all for multiple rows
print(data)

[(2, 'CCU', 'Kolkata', 'NSCddA'), (3, 'BOM', 'Mumbai', 'Bombay')]

In [25]:
#----------------DELETE--------------
mycursor.execute("""
DELETE FROM flights WHERE airport_id = 3
""")
conn.commit()

[(2, 'CCU', 'Kolkata', 'NSCddA')]

In [26]:
mycursor.execute("SELECT * FROM flights WHERE airport_id")
data = mycursor.fetchall()  # fetch all for multiple rows
print(data)

[(1, 'DEL', 'New Delhi', 'IGIA'), (2, 'CCU', 'Kolkata', 'NSCddA')]

In [27]:
conn.close()

In [28]:
mycursor.execute("""
DELETE FROM flights WHERE airport_id = 3
""")
conn.commit()

ProgrammingError: 2055: Cursor is not connected