### Uploading flights data into the indigo database

In [2]:
import pandas as pd
from sqlalchemy import create_engine
df = pd.read_csv("flights_cleaned - flights_cleaned.csv")

In [4]:
engine = create_engine("mysql+pymysql://root:root@localhost:3309/flights")
df.to_sql("flights", con=engine)

10683

In [6]:
import mysql.connector

In [24]:
## connecting to the database
try:
    conn = mysql.connector.connect(
                host='127.0.0.1',
                port=3309,
                user='root',
                password='root',
                database = 'flights')
    mycursor = conn.cursor()
    print("Connection Established")
except Exception as E:
    print("Connection Error")
    print(E)

Connection Established

In [25]:
mycursor.execute("""SELECT DISTINCT(Destination) FROM flights
UNION 
SELECT DISTINCT(source) FROM flights""")
data = mycursor.fetchall()
print(data)

[('New Delhi',), ('Kolkata',), ('Cochin',), ('Banglore',), ('Hyderabad',), ('Delhi',), ('Chennai',), ('Mumbai',)]

In [26]:
for i in data:
    print(i[0])

New Delhi
Kolkata
Cochin
Banglore
Hyderabad
Delhi
Chennai
Mumbai