In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Joint Probability

In [3]:
pd.crosstab(df['Survived'] , df['Pclass'])

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [4]:
pd.crosstab(df['Survived'] , df['Pclass'], normalize= 'all')

Pclass           1         2         3
Survived
0         0.089787  0.108866  0.417508
1         0.152637  0.097643  0.133558

Ex: probability of person is dead and travel in pclass 1 is 0.089

# Marginal Probability

In [7]:
pd.crosstab(df['Survived'] , df['Pclass'],  margins= True)

Pclass      1    2    3  All
Survived
0          80   97  372  549
1         136   87  119  342
All       216  184  491  891

In [8]:
pd.crosstab(df['Survived'] , df['Pclass'], normalize= 'all' , margins= True)

Pclass           1         2         3       All
Survived
0         0.089787  0.108866  0.417508  0.616162
1         0.152637  0.097643  0.133558  0.383838
All       0.242424  0.206510  0.551066  1.000000

ex : 

**1. For Survive column**
- Probablity of person survived is 0.38 irrespective of which class he traveled
- Probablity of person not survived is 0.62 irrespective of which class he traveled

**2. For Pclass column**

- Probability of person travel in Pclass 1 is 0.25 irrespective of a person survived or not
- Probability of person travel in Pclass 2 is 0.20 irrespective of a person survived or not
- Probability of person travel in Pclass 3 is 0.55 irrespective of a person survived or not

# Conditional Probability

#### When P class event already has occured , now find the probablity of survival

In [10]:
pd.crosstab(df['Survived'] , df['Pclass'],  normalize= 'columns')

Pclass          1         2         3
Survived
0         0.37037  0.527174  0.757637
1         0.62963  0.472826  0.242363

The above example explains:

- the probability of person die , given that person travelled in P class 1 is 0.37
- the probablity of person survived , given that person travelled in P class 1 is 0.62
- same goes for other values

#### When event of whether person survived or not has already occured , now find the probability of P class

In [11]:
pd.crosstab(df['Survived'] , df['Pclass'],  normalize= 'index')

Pclass           1         2         3
Survived
0         0.145719  0.176685  0.677596
1         0.397661  0.254386  0.347953

The above example explains:

- The probability of person travelled in p class 1 , given that he is dead is 0.14
- The probablity of person travelled in p class 1 , given that he survived is 0.39